<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Final project

This course introduced us to multiple data science tools, and in this final project, we will use Jupyterlite Notebook, one of the easiest tools to share publicly, and finnaly getting our project reviewed by one of bestie peers.

### List of the 5 most famous programming languages for data science :
1. Python
2. R
3. SQL
4. Java
5. MATLAB (MATLAB is both a programming language and an interactive computing environment.)

### List of data science libraries


**Python:**

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. SciPy
6. Scikit-learn
7. TensorFlow
8. Keras

**R:**

1. ggplot2
2. dplyr
3. tidyr
4. caret
5. data.table

| Language   | Libraries/Tools                         |
|------------|----------------------------------------|
| Python     | NumPy, Pandas, Matplotlib, Seaborn, SciPy, Scikit-learn, TensorFlow, Keras, PyTorch, Statsmodels |
| R          | ggplot2, dplyr, tidyr, caret, data.table, ggvis, randomForest, glmnet, xgboost, Shiny         |
| SQL        | SQL (Structured Query Language)        |
| Scala      | Breeze, Spark MLlib                    |
| Julia      | DataFrames.jl, Plots.jl               |
| JavaScript | D3.js, TensorFlow.js                  |
| Java       | Weka, Deeplearning4j                  |
| MATLAB     | Statistics and Machine Learning Toolbox, Image Processing Toolbox |

### Introduction to arithmetic expression with examples

In [5]:
# example of Multiplication in python :>
7*111
# example of Addtion in python :>
50+46

96

In [17]:
min = 120

# uncomment this line for more fun, if you like to input mins
# min = int(input("Enter the number of mintues to convert to hours :"))

min/60

2.0

### List of objective/ exercise :

- Exercise 1 - Create notebook.
- Exercise 2 - Create a markdown cell with the title of the notebook.
- Exercise 3 - Create a markdown cell for an introduction.
- Exercise 4 - Create a markdown cell to list data science languages.

- Exercise 5 - Create a markdown cell to list data science libraries.

- Exercise 6 - Create a markdown cell with a table of Data Science tools.

- Exercise 7 - Create a markdown cell introducing arithmetic expression examples.

- Exercise 8 - Create a code cell to multiply and add numbers.

- Exercise 9 - Create a code cell to convert minutes to hours.

- Exercise 10 -Insert a markdown cell to list Objectives.

- Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

- Exercise 12 - Share your notebook through GitHub

- Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

## Author Naman Aazoo